*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

.arrow-down{
  width: 16px;
}

.section{
  display: flex;
}

.input-container{
  width: 270px;
  margin-right: 28px;
}

.input-container--text{
  font-weight: 700;
  color: #414141;
  font-size: 14px;
}

.input-container-box{
  width: 100%;
  height: 42px;
  border: solid 1px black;
  border-radius: 4px;
  background-color: transparent;
  /* color: red  - ovdi styleaš tekst koji je unutar inputa*/

}

.input-container-box__dropdown{
  border: 1px solid black;
}

.dropdown{
  position: relative;
}

.dropdown-menu{
  position: absolute;
  left: 0;
  top: 110%;
  background-color: white;
  box-shadow: 0 2px 5px #00000033;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  pointer-events: none;
}

/* kad je aktivno- pointer-events: auto, opacity: 1, tranform: 0 */

.dropdown-menu__active{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}